.login {
  width: 100vw;
  height: 100vh;
  background: url("../../assets/images/login-bg.svg") no-repeat center 110px;
  background-size: 100%;
}

.login .header {
  height: 44px;
  line-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  padding-top: 100px;
}

.login .header .header-logo .icon-react,
.login .header .header-logo .icon-icon-test,
.login .header .header-logo .icon-typescript {
  margin-right: 5px;
  font-size: inherit;
}

.login .header .header-logo .icon-react {
  color: #61dafb;
}

.login .header .header-logo .icon-icon-test {
  color: #deb887;
}

.login .header .header-logo .icon-typescript {
  color: blue;
}

.login .header .header-title {
  margin-left: 30px;
  font-weight: 700;
  font-size: 30px;
}

.login .desc {
  text-align: center;
  padding-top: 30px;
  color: rgba(0, 0, 0, 0.45);
  font-size: 16px;
}

.login .main {
  width: 500px;
  margin: 0 auto;
  padding-top: 50px;
}

.login .users {
  width: 500px;
  margin: 60px auto;
  color: rgba(0, 0, 0, 0.65);
}

.login .users h3 {
  font-size: 16px;
}

.login .users p {
  margin: 20px;
}
